[data-theme="light"] {
  --color-primary: theme("colors.gold.600");
  --color-secondary: theme("colors.fuchsia.500");
  --color-text: theme("colors.green.900");
  --color-text-offset: theme("colors.gray.600");
  --color-background: theme("colors.green.100");
  --color-background-offset: theme("colors.green.200");
  --color-border: theme("colors.green.300");
}

[data-theme="dark"] {
  --color-primary: theme("colors.gold.400");
  --color-secondary: theme("colors.fuchsia.700");
  --color-text: theme("colors.green.100");
  --color-text-offset: theme("colors.gray.400");
  --color-background: theme("colors.green.900");
  --color-background-offset: theme("colors.green.800");
  --color-border: theme("colors.green.600");
}
