---

import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
// Import images
import waterFountain from "@/assets/images/Dublin-Corner-Lot-3.avif";
import ContentSection from "@/components/ContentSection.astro";
import DonateButton from "@/components/DonateButton.astro";
---

<ContentSection title="About the Dublin Corner Lot" id="about-us">
  <Icon slot="above-icon" name="tree" class="text-foreground size-32" />
  <Fragment slot="lead">
    Your <span class="text-primary">community park</span> at the heart of Dublin,
    Texas.
  </Fragment>
  <DonateButton />
  <div class="grid items-center gap-8 xl:grid-cols-3">
    <div class="w-full xl:col-span-2">
      <Image
        class="border-border w-full border-4 sm:border-8"
        src={waterFountain}
        alt="Dublin Corner Lot water fountain"
        format="avif"
        width="640"
      />
    </div>
    <div class="space-y-8 text-justify text-lg/7">
      <p>
        At the center of Dublin, the Irish Capital of Texas, stands the Dublin
        Corner Lot. We are a small community park well equipped to please the
        senses of anyone passing by or choosing to stay a bit.
      </p>
      <p>
        There’s a charming gazebo, wooden benches shaded by arbors of
        crossvines, a small pond complete with bubbling waterfall, lovely
        waterlilies, and a school of koi (fish). Shade trees with flowers and
        even bluebonnets in spring wildflower season! This park is our front
        porch to the community.
      </p>
    </div>
  </div>
  <DonateButton />
</ContentSection>
