---
import VideoHero from "@/components/VideoHero.astro";
---

<section class="w-screen">
  <div class="animate-fade-in relative">
    <VideoHero />
    <h1
      class="text-gold-400 absolute top-1/2 z-10 mx-4 w-full -translate-y-1/2 text-center text-xl font-black sm:mx-0 md:text-6xl"
    >
      Welcome to Dublin's Front Porch
    </h1>
  </div>
</section>
