---



import { Button } from "@/components/starwind/button";
import DonateIcon from "@/icons/donate.svg";
---

<Button
  aria-label="Donate to Dublin Corner Lot"
  href="/donate"
  size="lg"
  class="text-xl font-bold uppercase"
>
  <DonateIcon class="size-8" />
  <span>Donate Now</span>
</Button>
