---

import { Icon } from "astro-icon/components";
import { Button } from "@/components/starwind/button";
---

<Button
  aria-label="Donate to Dublin Corner Lot"
  href="/donate"
  size="lg"
  class="text-xl font-bold uppercase"
>
  <Icon name="donate" class="size-8" />
  <span>Donate Now</span>
</Button>
