---
import DonateButton from "@/components/DonateButton.astro";
---

<footer class="border-border bg-offset border-t-2 px-4 py-16">
  <div class="flex w-full items-center justify-around">
    <div class="text-sm">
      <p class="font-extrabold">Dublin Corner Lot, Inc.</p>
      <p class="font-light">
        501 (c)(3) Non-Profit Corporation
        <br /> EIN: 75-2784640
      </p>
    </div>
    <DonateButton />
  </div>
  <p class="mt-8 text-center text-sm">
    Website built by <a
      href="https://www.cobaltweb.tech/?utm_source=dublin-corner-lot&utm_medium=web&utm_campaign=client-site-links"
      target="_blank"
      class="text-primary">Cobalt Web Technologies</a
    > in Austin, TX
  </p>
</footer>
