---
import { Icon } from "astro-icon/components";
---
<div>
  <a
    href="/"
    aria-label="Home Button"
    class="flex font-extrabold items-center justify-center gap-3 border-2 border-current px-6 py-4 uppercase bg-green-400"
    target="_blank"
  >
    <Icon name="home" class="size-10" />
    <span>Go to Home Page</span>
  </a>
</div>
