---
import { Button } from "@/components/starwind/button";
import { Icon } from "astro-icon/components";

export interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<div class={className}>
  <Button
    href="/"
    aria-label="Home Button"
    class="font-extrabold uppercase"
    size="lg"
  >
    <Icon name="home" class="size-10" />
    <span>Go to Home Page</span>
  </Button>
</div>
