---

---

<div class="w-full">
  <svg class="text-default w-16 sm:w-24" viewBox="0 0 500 670.4">
    <path fill="#403d4b" d="M500 500.1H0V0h49.4v450.7H500z"></path>
    <g fill="none" stroke="#ffff73" stroke-miterlimit="10" stroke-width="1.3">
      <path d="M55.9 474.5h9.7"></path>
      <path stroke-dasharray="20.2 20.2" d="M85.8 474.5h394.4"></path>
      <path d="M490.3 474.5h9.7"></path>
    </g>
    <g fill="none" stroke="#ffff73" stroke-miterlimit="10" stroke-width="1.3">
      <path d="M24.8 444.1v-9.7"></path>
      <path stroke-dasharray="20.2 20.2" d="M24.8 414.2V19.8"></path>
      <path d="M24.8 9.7V0"></path>
    </g>
    <path
      fill="currentColor"
      d="M0 509.9h32q11.7 0 22.2 2.6 10.4 2.5 18.2 8.4 7.9 5.9 12.4 15.1 4.5 9.3 4.6 22.6A45 45 0 0 1 73 594.4a53 53 0 0 1-17.4 9.3 68 68 0 0 1-20.7 3.1H0zM21.4 587h11q7.5 0 13.8-1.5t11-5a24 24 0 0 0 7.4-9.2q2.6-5.7 2.6-13.9a25 25 0 0 0-9.9-21q-4.5-3.4-10.5-5.2-6.2-1.7-12.8-1.7H21.4zm164.3-17.6q-.1 8.6-2.6 16a35 35 0 0 1-20.6 20.9q-7.6 3-17.7 3c-10 0-12.6-1-17.8-3q-7.5-3-12.8-8.4c-5.3-5.4-6-7.7-7.7-12.6a47 47 0 0 1-2.6-15.9V510h21.4v58.7q0 4.5 1.4 8.4 1.5 3.8 4 6.6 2.7 2.8 6.3 4.4 3.6 1.5 7.8 1.6c4.2 0 5.5-.6 7.8-1.6a19 19 0 0 0 10.3-11q1.4-3.9 1.4-8.4V510h21.3zm19.7-59.5h36.1q6.3 0 12.7.9t11.4 3.5a22 22 0 0 1 8.2 7.5q3.2 4.8 3.2 12.7c0 8-1.6 10-4.6 13.6q-4.6 5.4-12.1 7.8v.3q4.7.6 8.6 2.6a22 22 0 0 1 11 12.3q1.6 4 1.6 8.7a23 23 0 0 1-11.8 21.1 37 37 0 0 1-11.7 4.5q-6.6 1.4-13 1.4h-39.7zm21.3 38.7h15.5q2.4 0 4.9-.5 2.4-.6 4.3-1.8a9 9 0 0 0 4.2-8.2q0-3-1.3-5a9 9 0 0 0-3.3-3.1 16 16 0 0 0-4.7-1.6q-2.6-.4-5-.4h-14.6zm0 40.1H246q2.4 0 5-.5a13 13 0 0 0 4.6-2q2.1-1.2 3.3-3.5 1.4-2.1 1.3-5.3 0-3.5-1.7-5.6a11 11 0 0 0-4.3-3.2q-2.6-1-5.6-1.5t-5.6-.4h-16.2zm68.3-78.8h21.3V587h39.5v19.7H295zm72.3 0h21.4v97h-21.4zm40.8 0h29l41.3 67.3h.2V510H500v97h-28l-42.2-69h-.3v69H408zM38.8 628.4a12 12 0 0 0-4.4-3.3q-2.6-1.2-6-1.2c-3.4 0-4.4.4-6.3 1.3a15 15 0 0 0-5 3.7 17 17 0 0 0-3.4 5.6q-1.2 3.3-1.2 7c0 3.8.4 5 1.2 7.2q1.3 3.2 3.3 5.5a15 15 0 0 0 11 5q3.8 0 6.6-1.5 3-1.5 4.7-4.3l10.1 7.5a21 21 0 0 1-8.8 7.2 27 27 0 0 1-11 2.3q-6.5 0-11.9-2a26 26 0 0 1-15.5-14.9q-2.2-5.3-2.2-12c0-6.6.7-8.3 2.2-11.8a26 26 0 0 1 15.5-15 34 34 0 0 1 16.7-1.5 27 27 0 0 1 9.7 3.8q2.2 1.5 4 3.8zM53 641.6q0-6.6 2.3-12a26 26 0 0 1 15.5-14.8q5.5-2 11.8-2c6.3 0 8.3.6 11.9 2q5.4 2 9.4 5.7 3.9 3.9 6.1 9.1 2.2 5.4 2.2 12c0 6.6-.7 8.3-2.2 11.9a26 26 0 0 1-15.5 14.9q-5.4 2-11.9 2c-6.5 0-8.2-.7-11.8-2a26 26 0 0 1-15.5-14.9 31 31 0 0 1-2.2-12m12.6 0q0 4 1.2 7 1.2 3.3 3.5 5.6 2.2 2.4 5.3 3.7 3.2 1.3 7 1.3c3.8 0 5-.4 7-1.3a16 16 0 0 0 8.9-9.2q1.2-3.2 1.2-7.1c0-4-.4-5-1.2-7a16 16 0 0 0-8.8-9.4q-3.2-1.3-7-1.3c-3.9 0-5 .4-7 1.3a16 16 0 0 0-8.9 9.3q-1.2 3.3-1.2 7m54.7-27.2h21.3q4.1 0 7.9.8 3.7.7 6.6 2.7 2.8 1.9 4.5 5 1.6 3.3 1.6 8.1 0 5.9-3 9.9t-8.8 5.1l14 23.2h-14.6l-11.4-22h-6v22h-12zm12.1 22.6h10.6q1.8-.2 3.3-.8t2.4-1.8 1-3.5q0-2.1-.9-3.3a6 6 0 0 0-2.1-2q-1.5-.6-3-.8l-3.4-.2h-7.9zm38.1-22.6H187l23.4 38h.1v-38h12V669h-15.7l-24-39h-.1v39h-12zm63.6 0h37.3v11.1h-25.2v10.2H270v11.2h-23.8v11.1h26.5V669h-38.6zm48.3 0h21.2q4.2 0 8 .8 3.7.7 6.6 2.7 2.7 1.9 4.5 5 1.6 3.3 1.6 8.1 0 5.9-3 9.9c-3 4-5 4.4-8.8 5.1l14 23.2H312l-11.4-22h-6v22h-12zm12.1 22.6h10.6q1.8-.2 3.3-.8t2.4-1.8q1-1.2 1-3.5 0-2.1-.9-3.3a6 6 0 0 0-2.1-2q-1.5-.6-3-.8l-3.4-.2h-7.9zm61.5-22.6h12v43.6h22.5V669H356zm38.2 27.4q0-6.6 2.2-12a26 26 0 0 1 15.5-14.8q5.4-2 11.9-2c6.5 0 8.2.6 11.8 2q5.5 2 9.4 5.7 4 3.9 6.2 9.1 2.1 5.4 2.2 12c0 6.6-.8 8.3-2.2 11.9a26 26 0 0 1-15.6 14.9q-5.4 2-11.8 2c-6.4 0-8.3-.7-11.9-2a26 26 0 0 1-15.5-14.9 31 31 0 0 1-2.2-12m12.5 0q0 4 1.2 7 1.2 3.3 3.5 5.6 2.3 2.4 5.4 3.7 3 1.3 7 1.3c4 0 4.9-.4 7-1.3a16 16 0 0 0 8.8-9.2q1.2-3.2 1.2-7.1c0-4-.4-5-1.2-7s-2-4.1-3.4-5.7a16 16 0 0 0-5.4-3.7q-3.2-1.3-7-1.3c-3.8 0-5 .4-7 1.3a16 16 0 0 0-8.9 9.3q-1.2 3.3-1.2 7m65.5-16.6h-15.7v-10.6H500v10.6h-15.6V669h-12.1z"
    ></path>
    <path fill="currentColor" d="M49.4.1h408.8A42 42 0 0 1 500 42v408.8H49.4z"
    ></path>
    <path
      fill="#39bced"
      d="m316.7 87.6.5.6.8.2 19.8-3.3 11.7-2 8-.6 6.5.3 6.3.6 5.9 1 5.6 1.4 4.1 1 3.7.2 3.3-.3 3.4-.7 1.5-1 .6-1.8-.5-3.8-1.8-4.6-3-4.2-4.5-3.7-5.3-2.8-4.6-1.7-4.7-1.3-4.6-1-4.8-.5h-7.2l-7.2.8-9.4 2.1-9.5 3.2-1 .2-1-.1-1-.6-.6-.8-4.5-7-4.8-6.7-5.1-6.3-5.4-6-7.2-7.1-.5-.8.8-.3 100.7-.3 7.4.4 7 1 6.9 1.9 6.5 2.5 6.4 3.4 6.1 4.1 5.7 4.8 5 5.2 4.5 5.5 3.8 6 4 8.3 2.8 9 1 5.7.7 8 .5 10.1.1 12.5.2 56.2v.2l-.5.5-.5-.1-6.7-4.6-5.8-3.4-6.9-3.2-7-2.3-7-1.5-7.1-.6h-5l-5 .5-5 1-5 1.2-5.1 1.8-5 2.2-5 2.6-5 3-.7.1-.7-.3-6.8-5.3-7.3-4.1-7.2-2.9-7.7-1.8-5-.4-5.2.3-5.7 1-7.6 1.9h-1l-.5-1-2.3-8.4-3.6-8.1-4.9-7.8-5.8-7.1-6.6-6-7.2-5-7.6-3.7-7.5-2-.6-.8-1-10.9-1.7-8.5-2.4-6.8-3-6.3-3.5-5.6-4.1-5-3.7-3.5-4.1-3.2-4.5-2.7-4.8-2.3-4.3-1.6-4.4-1-4.5-.6h-4.5l-4.5.3-4.4 1-4 1.4-4 1.8-6.5 4.2-6.8 5.6-.7.3-.7-.1-2-1.1-4.7-2.6-3.3-1.4-7.3-1.8-7.1-.7-6.8.3-6.5 1.4-5.8 2.2-5.5 3.2-5.3 4-5 5-2.6 3.4-2.9 4-.6.3h-.8l-8.2-3.1-8-1.9-7.8-.6-7.6.7-6.8 1.6-6.7 2.7-6.4 3.7-6.4 4.7-1 .4-.2-1.2 1.7-8.2 2.5-7.7 3-7.2 3.8-6.6 4.3-6 5-5.5 5.7-5 6.2-4.5 6.6-3.7 5.8-2.3 6-1.7 6.3-1 6.6-.4 108.5-.6 4.4.6L262 32l8.5 3.6 8.3 4.7 7.9 5.8 7.2 6.6 6.8 7.7 6.1 8.4 5.4 9.2zm84.1 25.7-4.2-.8-12.1-3.8-9.4-1.7-4.3-.2-3.9.2-3.7.7-3.7 1.2-3.4 1.6-3 2-2.5 2.2-2.2 2.6-1.8 3-1.4 3.4-1 3.7-.6 4v1.4l.5 1 .8.6 1.2.4 5.6.6 45 .1 54.2-.5 4.1-.5 1.4-.8 1-1.2.5-1.5v-1.7l-1.9-6.1-2.9-5.3-3.8-4.3-5-3.4-5.3-2.5-5.5-1.5-6.3-.3-6.6 1-7.2 2-10 4z"
    ></path>
    <path
      fill="#54b948"
      d="m207.4 91.7 2.2.1 1.9-1 3.2-3.3 5.9-5.6 4.7-3.7 4.5-2.7 4.5-1.6 5.6-.8 5.4.7 3 1 2.8 1.4 2.8 2 2.6 2.4 4.3 5.2 3.2 5.7 1.5 3.9 1.1 4.1.7 4.3.2 4.6-.2.7-.7.4-8.4 2.6-7.8 3.6-7.3 4.6-6.6 5.6-6 6.8-5.3 7.7-4.2 8.5-3.2 9.3-1 5-.8 6.4-.4 7.5-.2 8.8.3 65.8.4 8.5 1.4 8.3 2.5 9.1 3.6 8.9.3 1.3-.1 1.4-.6 1.2-1 .9-4 2.2-4.7 1.8-5 1.2-4.9.6H199l-4.4-.7-4.3-1.2-5-2.5-4.9-3.4-.6-1.2.4-1.3 8.2-11.5 4.8-8.7 3.5-9 2.5-9.6 1.1-9.6v-9.8l-1.3-9.7-2.4-9.3-3.7-9-3.9-7-4.6-6.6-5.3-5.9-6-5.4-.5-1 1-10 .5-9.1v-8.3l-.6-7.9-1.2-7.4-1.6-6.9-2.3-6.7-2.8-6.2-3.6-6.5-5.2-8.3-.6-2.1.7-2 2-2.7 3.3-3.5 3.9-2.8 4.3-2.2 4.6-1.5 4.7-.8 4.9.1 4.6.8 4.5 1.6 2.3 1.2 5.6 4.2 3.4 2.7z"
    ></path>
    <path
      fill="#54b948"
      d="m153 185.8 8 6.3 6.7 6.8 5.3 7.1 4 7.7 1.5 4.4 1.3 4.6.8 4.4.5 4.3.1 4.5-.2 4.4-1.4 8.2-2.6 7.9-3.9 7.4-4.8 6.8-5.9 5.9-6.7 5-7.2 3.9-8 2.8-.8-.2-.5-.8v-.2l.4-33-.3-2.7-.7-2.3-1.1-2.1-1.5-1.7-1.6-1.1-1.7-.8-2-.4h-2l-2 .5-1.9.9-1.5 1.1-1.2 1.5-1.4 3-.4 3.3.1 34-.3.7-.7.2h-.2l-3.6-1.6-3.5-1.8-6.7-4.8-1.7-.9H102l-5.3.6-5.4.4-5.4-.2-5.6-.5-.8-.4-.4-1v-40.5l.4-1.2 1 .7 3.9 4.2 4 3.7 4.2 3.2 4.2 2.7 3.2 1.4h2.8l2.4-1 3-2.6 1.9-3.4 1-4.1-.1-2.7-1-1.7-1.9-1.8-5.3-4.2-4.6-4.5-4.2-4.8-3.5-5.2-2.5-4.4-2.1-4.6-1.8-5-1.5-5-1.2-5.7-.9-5.8-.8-12.7-.2-24.5.7-16.2.7-4.4 1.1-4.2 2.8-6.3 3.7-5.6 4.8-4.8 5.4-3.9 6-2.7 6.4-1.5 6.4-.3 6.4 1.1 4.2 1.5 4.2 2.1 5.6 4.2 4.1 4.2 3.7 5 3 5.6 2.5 6.2 1.9 6.9 1.2 7.4.6 7.6-.1 8-1 10.6-2 13.8.2 1.7zm118.3 24.5-1.6 1-1.2 1-1.3 2-.8 2.2-.5 2.8-.1 3.4-.3 77.7-.2.5-.5.2-4.1-1.8-2.8-1.6-2.6-2-4.8-4.5-4.2-5-3.4-5.1-2.8-5.6-1.8-4.8-1.4-5-.5-4.3-.4-7.2-.4-22.9v-52.7l.6-8.7.9-6.8 1.2-5 3.2-7.1 4.1-6.3 5.2-5.4 6-4.3 5-2.5 5.5-1.8 5.5-1h5.7l3.1.3 3.8.8 3.7 1.4 3.5 1.8 3.6 2.3 3.4 2.8 3 3 2.9 3.3 2.4 3.4 2.6 5 2.1 5.3 1.2 4.7.9 6.2.5 7.5.2 8.9.1 46.6v.7l-.3 4.7-.7 3.7-.2.7-1.7 5.3-2.2 5-2.5 4.7-2.9 4.3-3.8 4.6-4.4 4.2-4.8 3.8-5.4 3.4-1.2.1-.4-1.2-.2-56-.5-3.8-1.5-3.4-2.2-2.6-2.9-1.5-3.2-.3zm91.3 49.7 1.6 4.4 2.5 5.2 8 13.2.2.7-.4.6-5.4 3.9-6 2.6-5 1-5 .3-5.2-.6-5-1.5-4.8-2.3-4.5-3-4-3.6-3.7-4.3-1.3-2.3-.7-2.3v-1.2l.3-.8 4.6-9.6 3.1-8 2.1-7.5 1.1-7.6.2-3.8.1-47 .6-2.4 1.6-1.6 4-2.2 4-1.6 4-.8 4-.2 4.7.6 4.7 1.6 4.6 2.5 4.5 3.4.8 1.5-.3 1.6-4.7 8-3.7 8.2-2.7 8.3-1.8 8.4-1 9.3.3 9.5 1.2 9.6zm50.8 26.9-5.8-2.4-5.3-3-5-3.6-4.4-4.2-4.7-5.7-3.8-6.2-3-6.8-2.2-7.2-1.2-7.4-.3-7.6.7-7.4 1.7-7.3 2.2-6 3-5.7 3.4-5.4 4.2-5 5.2-4.9 5.3-4 5.6-3 5.8-2.2 6.5-1.3 6.7-.3 7 .7 7.2 1.8 4.5 1.7 4.3 2.4 4.1 3 3.8 3.8 3.6 4.3 2.7 4.1 2.1 4.3 1.6 4.3 1 4.5.5 5.3V242l-.4 15-.9 5-1.5 3.7-2.2 3.5-3.3 4-3.5 3.5-3.8 3.2-4 2.8-4 2.3-4.1 1.8-4.4 1.4-4.4.9-5 .4-5.2-.2-5.1-.8z"
    ></path>
    <path
      fill="#39bced"
      d="m307.5 288 .7-.3.7.5.2.1 3.5 4.6 4 4.2 4.4 3.8 5 3.5 6.6 3.8 6.8 2.7 6.8 1.7 6.8.7 6.7-.4 6.8-1.4 6.8-2.4 6.9-3.4 3.2-2.2 4-2.7 2.8-1.6.8-.1.7.2 4.4 2.7 8.5 4.2 9 3.4.6.5.2.8.2 19.3-.1.4-.9.5-15.4 1.6-13.4 2-13 3-12.6 4-12.2 5-5.9 3-1.2.1-1.2-.5-6.7-5.7-6.5-5.1-6.7-4.7-6.6-4-6.7-3.6-6.8-3.2-6.8-2.6-7-2.2-.6-.4-.1-.6.5-14.3.3-1 .9-.7.2-.1 5.5-2.7 5.5-3 5.2-3.5zm127 22.3 9.9-2.5 9.4-3.8 7.6-4.1 7.3-5 .7-.2.6.6v36.5l-.3.7-.6.3-34.5-1.6-.5-.2-.2-.6V311zm-355.5-8 .1-.6.6-.1 8.6.5 9.4-.6h1.4l.8.2 2 .8 9.8 5 8.2 3.1.5.4.3.7v19l-.3.6-.5.2-40.2 1.9-.6-.2-.2-.7zm180.4 21.2-14.2 8-12.8 8.9-5.9 4.7-5.5 5-5.2 5-5 5.4-.7.4-.9-.1-17-9.4-12.8-6.2-13-4.9-13-3.6-13.1-2.4-.6-.7v-21.8l.3-.8.6-.5 10.5-3.6 10.7-5 1.3-.3 1.1.6 4.8 4.2 4.8 3.4 5.2 2.8 5.3 2.2 6 1.6 6 .8 6.2.1 6.3-.6 6.5-1.4 6.5-2 6.6-3 6.5-3.5 1.5-.3 1.3.7 5.2 4.5 5.3 4 5.5 3.5 5.7 3 .1.2.2.6z"
    ></path>
    <path
      fill="#ffd105"
      d="M367.7 421h-82.9l-.5-.1-.4-.9v-77.5l.4-1.4h1.4l3.6 1.1 4.2 1.9 7 3.6 6.8 4 6.5 4.5 6.2 4.7 6.2 5.4 6 5.9 9.9 10.9 9.3 11.6 8.7 12.3 8.2 13v.5l-.4.5zm-105.1-14-8.8-9.6-8.8-8.7-8.7-7.8-8.7-6.8-.2-.4.1-.5 9.3-9.5 10-8.3 8.1-5.6 8.4-5h.5l.4.5v.2l-.5 60.3-.3 1.2z"
    ></path>
    <path
      fill="#54b948"
      d="M468.4 421.2h-75.1l-1-.3-.6-.7-4.5-8.5-4.7-8.3-5-8-5.4-8-7.5-10-8-9.6v-.2l-.2-1 .7-.9 7.6-3.3 8-2.8 8.2-2.4 8.5-1.8 8.8-1.4 9.3-1 9.3-.4h9.7l42.2 1.7 1 .4.3 1v63.8l-.4 1.3z"
    ></path>
    <path
      fill="#ffd105"
      d="m177.2 420.3-4-5.8-4.4-5.4-8.5-9-9.5-8-10.4-7-11-5.6-11.9-4.6-12.2-3.3-12.8-2-13-.7-.4-.1-.1-.4v-11.8l.1-.5.4-.2 9-1.1 9-.8 8.9-.3h8.7l8.6.5 8.6.9 8.4 1.3 8.3 1.6 13 3.6 12.8 5 12.7 6 12.5 7.3 12.2 8.5 11.8 9.7 11.3 10.6 10.4 11.3.4.7-.8.3h-66.8l-.7-.1zm-26.3.6H80.3l-.8-.3-.2-.8v-28.3l.2-.8.7-.3 10.7.7 10.2 1.6 10 2.6 9.3 3.4 8.7 4.4 8 5 7.4 6 6.4 6.7"
    ></path>
  </svg>
</div>
