---



import { Button } from "@/components/starwind/button";
import VolunteerHand from "@/icons/volunteer-hand.svg";
---

<Button
  aria-label="Volunteer to Dublin Corner Lot"
  href="/volunteer"
  variant="secondary"
>
  <VolunteerHand class="size-8" />
  <span>Volunteer for Us</span>
</Button>
