---

import { Icon } from "astro-icon/components";
import { Button } from "@/components/starwind/button";
---

<Button
  aria-label="Volunteer to Dublin Corner Lot"
  href="/volunteer"
  variant="secondary"
>
  <Icon name="volunteer-hand" class="size-8" />
  <span>Volunteer for Us</span>
</Button>
